@using GBServerManager2.Services.Helpers;
<span>Path to install servers: </span>
<RadzenTextBox @bind-Value="ServerPath" class="@(pathIsValid == false ? "bg-warning w-100" : "w-100")"/>

<div class="mt-2 d-flex justify-content-end">
    <button type="button" class="btn btn-sm btn-rounded btn-primary me-1" @onclick="SaveBasePath">Save</button>
    <button type="button" class="btn btn-sm btn-rounded btn-secondary" @onclick="(_ => _ds.CloseSide())">Cancel</button>
</div>

@code {
    [Inject] DialogService _ds { get; set; }
    [Inject] ApplicationSettingsService _ass { get; set; }
    private string ServerPath;
    private bool pathIsValid = true;

    private void SaveBasePath()
    {
        if (!string.IsNullOrWhiteSpace(ServerPath) && FileHelper.CheckDirectoryExists(ServerPath))
        {
            
        }
        else
        {
            pathIsValid = false;
        }
    }
}
