@using System.Diagnostics
@using System.Text

@inject IJSRuntime _js

<h3>@ProcessActionName</h3>
<div id="console" class="overflow-auto p-1" style="width: 650px; height: 455px; background: black; color: white; border-radius: 3px">
    @((MarkupString)output)
</div>

@if (isCloseShown)
{
    <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-sm btn-primary" @onclick="CloseDialog">Close</button>
    </div>
}

@code {
    [Inject] DialogService _ds { get; set; }
    [Parameter] public string ProcessActionName { get; set; }
    [Parameter] public Process Proc { get; set; }
    private StringBuilder ProcOut = new();
    private string _output;
    private string output {
        get { return _output; } 
        set { 
            _output = value; 
            //TODO: why doesnt this work?
            _js.InvokeVoidAsync("scrollEnd", "console");
        } 
    }
    private bool isCloseShown = false;

    protected override void OnInitialized()
    {
        if (Proc != null && Proc.StartInfo != null)
        {
            var status = Proc.Start();

            if (status)
            {
                output = "Starting....";
                Proc.EnableRaisingEvents = true;
                Proc.OutputDataReceived += OutputRecieved;                
                Proc.Exited += ShowClose;
                Proc.BeginOutputReadLine();
            }            
        }
    }

    private void OutputRecieved(object sendingProc, DataReceivedEventArgs e)
    {
        ProcOut.Append(FormatLine(e.Data));
        output = ProcOut.ToString();
        InvokeAsync(StateHasChanged);
    }

    private string FormatLine(string inputText)
    {
        return "<span>" + inputText + "</span></br>";
    }

    private void ShowClose(object? o, EventArgs e)
    {
        isCloseShown = true;
        InvokeAsync(StateHasChanged);
    }

    private void CloseDialog()
    {
        _ds.Close();
    }
}

