span {
    color: var(--color-offWhite);
}

p {
    color: var(--color-offWhite) !important;
}

.bg-list-item {
    background-color: rgba(0, 0, 0, 0.3);
}

.add-server-icon {
    color: var(--color-offWhite);
    font-size: 18pt;
}
