@page "/"

@using GBServerManager2.Services.Helpers

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="col-md-3">
        <button type="button" @onclick="onClick">Click</button>
        <button type="button" @onclick="refreshOutput">Refresh</button>
        <button type="button" @onclick="stopProc">Kill</button>
        <span>@procID</span>
    </div>
</div>

<RadzenTextArea @bind-Value=@(proc.processOutputString) Rows="20" Cols="100" Disabled=true Style="background-color: black; color: white; resize: none" ></RadzenTextArea>

@code{
    private DispatcherHelper proc;
    private string procID = "";

    protected override void OnInitialized()
    {
        proc = new DispatcherHelper();
        proc.outputUpdated += () => InvokeAsync(StateHasChanged);
    }

    private void onClick()
    {
        proc.StartProcess();
        procID = proc.GetProcID().ToString();
    }

    private void refreshOutput()
    {        
        StateHasChanged();
    }

    private void stopProc()
    {
        proc.StopProcess();
    }

}