span {
    color: #d7d7d7;
}

h2,h3,h4 {
    color: white;
}

p {
    color: #d7d7d7 !important;
}

.bg-list-item {
    background-color: rgba(0, 0, 0, 0.3);
}

.add-server-icon {
    color: #d7d7d7;
    font-size: 18pt;
}
