@namespace GameServerManager.Web.Shared
@inherits LayoutComponentBase

<PageTitle>GBServerManager2</PageTitle>

<div class="page bg-mainPage" >
    <RadzenDialog/>
    <MudThemeProvider />
    <MudSnackbarProvider />

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <PageTitle>Game Server Manager</PageTitle>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
