@page "/server/arma"



<RadzenRow Gap="1rem" class="rz-mx-8">
    <RadzenColumn Size="8">
        <RadzenCard Variant="Radzen.Variant.Filled" Style="background-color: #B58B00">
            <h3>Server Name</h3>
            <span>Port: </span>
            <span>Mods:</span>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn Size="8">
        <RadzenCard Variant="Radzen.Variant.Filled" Style="background-color: var(--color-navbarlight)">
            <h3>Installed Mods</h3>
            <span>Mod 1 </span>
            <span>Mod 2 </span>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {
    ArmaServer server = new();
    bool open = false;

}
